<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/weather.jpg">
    <link rel="stylesheet" href="/css/style.css">
    <title>404 - {{ErrorMsg}}</title>
</head>
<body>
     <div class="main-content">
        {{>header}}
        <p>{{ErrorMsg}}</p>
     </div>
    {{>footer}}
</body>
</html>