<html>
    <head>
        <link rel="icon" href="/img/weather.jpg">
        <link rel="stylesheet" href="/css/style.css">
        <title>About</title>
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <img class="img1" src="./img/pic.jpg" alt="Mangesh">
        </div>
        
         {{>footer}}
    </body>
</html>