<html>
    <head>
        <link rel="icon" href="/img/weather.jpg">
        <link rel="stylesheet" href="/css/style.css">
        <title>Help</title>
    </head>
    <body>
        <div class="main-content">
         {{!-- render partials  --}}
        {{>header}}
        {{!-- <h1>{{title}}</h1> --}}
        <p>{{msg}}</p>
        </div>
        {{>footer}}
    </body>
</html>